<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.tj.skyone"
    tool:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 访问wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 安装权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ui.GlobalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.home.view.RecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CustomeTheme1" />
        <activity android:name=".ui.home.view.HomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.home.view.GlobalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".ui.home.view.ConfigActivity" />

        <meta-data
            android:name="designwidth"
            android:value="1080" />
        <meta-data
            android:name="designdpi"
            android:value="480" />
        <meta-data
            android:name="fontsize"
            android:value="1.1" />
        <meta-data
            android:name="unit"
            android:value="px" />

        <activity
            android:name=".ui.welcome.view.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location">
            <intent-filter android:priority="1000">
                <action android:name="com.data.myservice" />
            </intent-filter>
        </service>


    </application>



</manifest>